/* Use Optima and Helvetica */
* {
  font-family: Helvetica, sans-serif;
  background-color: #fcfcfc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Optima;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

nav > ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav > ul > li {
  position: relative;
  width: 33.3333%;
}

nav > ul > li > a {
  display: block;
  padding: 20px 10px;
  color: #fff;
  background-color: darkslategray;
  text-align: center;
  text-decoration: none;
}

nav > ul > li > a:hover {
  background-color: lightseagreen;
}

section {
  clear: left;
}

figure {
  margin: 0;
  padding: 0;
}

/* Decorate table */
table {
  border-collapse: separate;
}

table th {
  text-align: center;
  width: 18%;
  color: white;
  background: darkgray;
  border: 1px solid darkgray;
  padding: 20px;
}

table th:first-child {
  width: 10%;
}

table td {
  text-align: center;
  width: 18%;
  border: 1px solid darkgray;
  padding: 20px;
}

table td:first-child {
  width: 10%;
}

table td:not(:first-child):hover {
  background-color: lightseagreen;
}

.morning {
  color: white;
  background-color: #87ceeb;
  opacity: 0.9;
}

.afternoon {
  color: white;
  background-color: #ffa500;
  opacity: 0.8;
}

.evening {
  color: white;
  background-color: #191970;
  opacity: 0.5;
}

image,
video {
  width: 50%;
}
